<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="JafarLokaSuite">
  <test thread-count="5" name="J-L-Test-01">
    <classes>
      <class name="jafarloka.RealTestForPriority"/>
      
      <class name="jafarloka.SkipTestUsingTestNGXMLFile">
      	<methods>
      		<exclude name="c"></exclude>
      		<exclude name="d"></exclude>
      	</methods>
      </class>
      
      <class name="jafarloka.TestPriority">
      	<methods>
      		<include name="a"></include>
      		<include name="b"></include>
      		<include name="d"></include>
      	</methods>
      </class>
    </classes>
  </test> <!-- J-L-Test-01 -->
</suite> <!-- JafarLokaSuite -->
